<div class="category-container">

  <h2 class="title">All Categories</h2>

  <div *ngIf="loading" class="loading">Loading categories...</div>
  <div *ngIf="error" class="error">{{ error }}</div>

  <div class="grid" *ngIf="!loading && !error">

    <div *ngFor="let cat of categories" class="card">
      <img [src]="cat.imageUrl" alt="category image" />
      <h3>{{ cat.name }}</h3>
      <p>{{ cat.description }}</p>

      <button class="view-btn" [routerLink]="['/productList']"
        [queryParams]="{ category: cat.id }">
        View Products
      </button>
    </div>

  </div>

</div>

